*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar__navbar-list{
    display: flex;
    list-style: none;
    flex-direction: column;
}

.sidebar__navbar-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.sidebar{
    background-color: #1c0d02;
    width: 20vh;
    display: flex;
    color: whitesmoke;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidebar__welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.sidebar__welcome-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar__welcome-profile{
    margin-top: 20px;
    width: 70px;
}
a{
    text-decoration: none;
}
.sidebar__navbar-list-item-icon{
    width:55px;
    background-color: white;
    border-radius: 20%;
    padding: 15px;
    margin-top: 10px;
}
.sidebar__navbar-list-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__welcome-greet{
    text-align: center;
    font-size: 20px;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.global_wrapper{
    display: flex;
}

.wrapper{
    color: black;
    padding: 20px;
    width: 100%;
}

.wrapper__admin-table-user{
    display: flex;
}
.wrapper__admin-users{
    height:70vh;
    display: flex;
    flex-direction: column;
    overflow:auto;
    overflow-x: hidden;
}
.wrapper__admin-users-item{
    height: 8vh;
    padding: 1vh;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-areas: "icon id nombre apellido dni roles select";
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
  margin: 1vh;
}

.wrapper__admin-users-item-icon{
    grid-area: icon;
}

.wrapper__admin-users-item-idUsuario{
    grid-area: id;
}

.wrapper__admin-users-item-nombre{
    grid-area: nombre;
}

.wrapper__admin-users-item-apellido{
    grid-area: apellido;
}

.wrapper__admin-users-item-dni{
    grid-area: dni;
}

.wrapper__admin-users-item-select{
    grid-area: select;
}

.wrapper__admin-users-item-roles{
    grid-area: roles;
}

.wrapper__admin-users-item-icon img{
    width: 70px;
}

.wrapper__admin-users-item div{
    width: 140px;
    display: flex;
    align-items: center;
}
.wrapper__admin-header{
    display: grid;
    grid-template-areas: "iconTag idTag nombreTag apellidoTag dniTag rolesTag selectTag";
    background-color: #1c0d02;
    color: white;
    padding:2vh;
    text-align: center;
    margin: 5px;
}

.wrapper__admin-header div{
    width: 140px;
}

.wrapper__admin-header-id{
    grid-area: idTag;
}

.wrapper__admin-header-icon{
    grid-area: iconTag;
}

.wrapper__admin-header-nombre{
    grid-area: nombreTag;
}

.wrapper__admin-header-apellido{
    grid-area:apellidoTag;
}

.wrapper__admin-header-dni{
    grid-area:dniTag;
}

.wrapper__admin-header-roles{
    grid-area:rolesTag;
}

.wrapper__admin-header-select{
    grid-area:selectTag;
}
.wrapper__admin-users-item-select button{
    background-color: #1c0d02;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding:15px;
}
.wrapper__title{
    padding: 10px;
}

.parcela__table__header{
    background-color: #1c0d02;
    color: white;
    display:grid;
    text-align: center;
    padding: 1vh;
    grid-template-columns: repeat(5, 1fr);
    margin: 1vh;
}

.wrapper__parcelas{
    height: 80vh;
}

.wrapper__buttons{
    display: flex;
    flex-direction: row;
}

.parcelas_table{
    height: 20vh;
}

.parcela__table__items{
    overflow: auto;
    height:13vh;
}

.parcela__table__item{
    display: grid;
    padding: 1vh;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
  margin: 1vh;
}

.parcela__item{
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.wrapper__buttons{
    display: flex;
    justify-content: space-around;
}
.wrapper__buttons button{
    padding: 1vh;
    background-color: #1c0d02;
    color: white;
}

#map{
    width: 50%;
    height: 50vh;
}
.parcela__data{
    width: 50%;
}

.parcela__data__form{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    align-items: flex-start;
}
.parcela__data__form * {
    padding: 5px;
}
select{
    font-size: 20px;
}

.parcela__data__form button[type="submit"]{
    background-color: #1c0d02;
    margin-top: 2vh;
    color: white;
    padding: 1vh;
}
.parcela__trabajos__table__header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1c0d02;
    color: white;
    margin-top: 1vh;
    padding: 1vh;
    text-align: center;
    
}
.parcela__trabajos__table{
    padding: 1vh;
    height: 20vh;
}
hr{
    width: 75%;
}
.parcela__trabajos__item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vh;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
    text-align: center;
    margin: 1vh;
}
.parcela__trabajos__items{
    overflow: auto;
    height: 15vh;
}

#crear_parcela{
    display: none;
    
}

.wrapper__buttons label{
    background-color: #1c0d02;
    color: white;
    padding: 1vh;
}

.crear_parcela_label{
    background-color: #1c0d02;
    color: white;
    padding: 1vh;
}

#eliminar_parcela{
    background-color: #1c0d02;
    color: white;
    margin-top: 1vh;
    padding: 1vh;
}

.wrapper__buttons label:hover{
    cursor: pointer;
}

.xd{
 display: flex;
}

.table__trabajos__header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #1c0d02;
    color: white;
    margin-top: 1vh;
    padding: 1vh;
    text-align: center;
}

.table__trabajos__item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
    margin: 1vh;
}

.table__trabajos{
    height: 40vh;
}
.trabajo__item__realizar button{
    background-color: #1c0d02;
    color: white;
    padding: 1vh;
}

.table__trabajos__item div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.table__drones__header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #1c0d02;
    color: white;
    margin-top: 1vh;
    padding: 1vh;
}
.table__drones{
    margin-bottom: 10vh;
}
.dron__item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 1.5vh;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
    margin: 1vh;
}

.botones__drones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botones__drones input{
    background-color: #1c0d02;
    color: white;
    padding: 1vh;

}
.wrapper__drones{
    height:80vh;
}

.table__drones__items{
    height: 20vh;
    overflow: auto;
}

.form__dron input[type="submit"]{
    background-color: #1c0d02;
    padding: 1vh;
    color: white;
}
.form__dron input{
    margin: 1vh;
}

.wrapper__nuevo__dron{
    display: flex;
    padding: 2vh;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 4.7px 5.3px rgba(0, 0, 0, 0.048),
    0 5.5px 6px rgba(0, 0, 0, 0.06),
    0 6.3px 9.9px rgba(0, 0, 0, 0.072),
    0 9.8px 14.4px rgba(0, 0, 0, 0.086),
    0 9px 20px rgba(0, 0, 0, 0.12)
  ;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form__dron{
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content: center;
}